
Capstone Project Ideas:
1.	Homeless and Drug Use in Washington DC Metropolitan Area.
This project assesses the extent and correlation of homelessness and the drug problem in Washington, DC, Metropolitan area. I would also like to know the prevalence of substance use among members of the homeless in the Washington, DC area.
Data:
US Government Open Data
2.	


